{{! 公共head }}
<title>{{#if title}}{{title}}{{else}}自由行_出境自由行_出境旅游_出境旅游线路_邮轮旅游_麦兜旅行自由你行{{/if}}</title>
<meta charset="utf-8">
<link rel="dns-prefetch" href="{{staticPath}}">
<link rel="dns-prefetch" href="{{dynamicPath}}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="description" content="麦兜旅行（maidou.com）创建于2014年9月，麦兜旅行网通过分布在全球的1000多家合作伙伴，极力为广大出境旅游用户的打造完美的出境自由行、邮轮旅游、签证预订、当地游等产品；第一时间为用户提供一站式出境自由行产品预订平台，致力于打造出境旅游 自由行第一品牌">
<meta name="keyword" content="出境游，出境旅游，出境自由行，出境旅游度假">
<link rel="icon" href="{{staticPath}}/img/favicon.ico?v=ebdd1ac77e" type="image/x-icon">
<link rel="shortcut icon" href="{{staticPath}}/img/favicon.ico?v=ebdd1ac77e" type="image/x-icon">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/2.0.4/css/bootstrap.css">
<link rel="stylesheet" href="{{staticPath}}/css/header.css?v=801678fddb">
<script src="{{staticPath}}/js/es2015.js?v=1ec5b8dc52"></script>
<script src="{{staticPath}}/js/coffee-1.js?v=8292fd4700"></script>
{{#if showTests}}
	<link rel="stylesheet" href="/vendor/mocha.css">
{{/if}}